$mobilePortrait: 320px;
$iphone8: 374px;
$iphonePlus: 413px;
$mobileLandscape: 480px;
$tablet: 768px;
$iPadPro: 833px;
$desktop: 992px;
$iPadPro12: 1023px;
$largeDesktop: 1200px;
$biggerScreen: 2073px;
$biggerScreen2: 2559px;

@media screen and (min-width: $mobilePortrait) {
  html {
    font-size: 60%;

    @import 'mobile-menu';

    main {
      .new-ep {
        h1 {
          padding: 0 2em;
        }

        .music-icons-wrapper {
          gap: 3.5em;
        }
      }

      #music {
        padding-bottom: 5em;
        gap: 5em;

        h1 {
          margin-bottom: 4em;
        }
        .music-content-wrapper {
          gap: 10em;

          .slider-wrapper {
            .music-slider-container {
              .slide {
                img {
                  width: 80%;
                }
              }
            }
          }
        }
      }

      #live {
        a {
          font-size: 100%;
        }
      }

      #videos {
        .video-slider-wrapper {
          margin-top: -5em;
          width: 30em;
        }
      }

      #connect {
        padding-bottom: 10em;

        .contact-wrapper {
          form {
            min-width: 80%;
          }
        }
      }

      .bio-wrapper {
        align-items: center;

        .bio-text {
          width: 85vw;

          p {
            font-size: 1.8rem;
          }
        }
      }

      .about-hero {
        background-position: center center;
      }
    }

    footer {
      .footer-wrapper {
        .sm-wrapper {
          a {
            i {
              font-size: 50%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $iphone8) {
  html {
    font-size: 60%;
    header {
      .header-wrapper {
        nav {
          .main-navigation {
            li {
              margin: 1.5em;
              a {
                font-size: 2.2rem;
              }
            }
          }
        }
      }
    }

    main {
      #music {
        h1 {
          margin-bottom: 5em;
        }
      }

      .bio-wrapper {
        .bio-text {
          p {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $iphonePlus) {
  html {
    font-size: 75%;

    header {
      .header-wrapper {
        nav {
          .main-navigation {
            li {
              margin: 1.2em;
              a {
                font-size: 2.2rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $mobileLandscape) {
  html {
    font-size: 70%;

    header {
      .sm-wrapper {
        gap: 6em;

        a {
          i {
            font-size: 100%;
          }
        }
      }
    }

    main {
      #music {
        h1 {
          margin-bottom: 6em;
        }

        .music-content-wrapper {
          gap: 12em;
        }
      }

      #videos {
        padding-bottom: 8em;

        .video-slider-wrapper {
          width: 40em;
          margin: 1em 0;
        }
      }
    }
  }
}

@media screen and (min-width: 599px) {
  html {
    main {
      #videos {
        .video-slider-wrapper {
          width: 60em;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet) and (orientation: portrait) {
  html {
    font-size: 90%;

    header {
      background-color: red;
      .header-wrapper {
        nav {
          .main-navigation {
            padding: 5em;
            li {
              margin: 1.2em;
            }
          }
        }

        .sm-wrapper {
          gap: 6em;

          a {
            font-size: 3rem;
          }
        }
      }
    }

    main {
      #music {
        .music-content-wrapper {
          gap: 12em;
        }
      }

      #videos {
        .video-slider-wrapper {
          margin-bottom: 4em;
          width: 50em;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  html {
    header {
      .sm-wrapper {
        gap: 6em;

        a {
          i {
            font-size: 1.5rem;
          }
        }
      }
    }

    main {
      #music {
        h1 {
          margin-bottom: 8em;
        }
        .music-content-wrapper {
          gap: 25em;
        }
      }
    }
  }
}

@media screen and (min-width: $iPadPro) and (orientation: portrait) {
  html {
    font-size: 85%;
    header {
      .header-wrapper {
        nav {
          .main-navigation {
            padding: 6em;

            li {
              margin: 1.5em;

              a {
                font-size: 3rem;
              }
            }
          }
        }
      }
    }

    main {
      #music {
        .music-content-wrapper {
          gap: 14em;
        }
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  html {
    font-size: 80%;

    header {
      background-color: initial;
      gap: 1em;

      .header-wrapper {
        gap: 12em;
        justify-content: space-between;

        .logo-wrapper {
          display: block;
          position: relative;
          top: 22px;
          left: 25px;
          width: 20em;

          img {
            width: 100%;
          }
        }

        .hamburger {
          display: none;
        }

        nav {
          position: initial;
          background-color: initial;
          transform: translateX(0);
          opacity: 1;

          .main-navigation {
            gap: 3em;
            padding: 0;
            flex-direction: row;

            li {
              margin: 0;

              a {
                font-size: 1.3rem;
                text-shadow: 1px 1px 1px #282828;
              }
            }
          }
        }
      }

      .sm-wrapper {
        gap: 5em;

        a {
          i {
            font-size: 1rem;
          }
        }
      }
    }

    main {
      .new-ep {
        .music-icons-wrapper {
          gap: 4em;
        }
      }

      #music {
        h1 {
          margin-bottom: 8em;
        }

        .music-content-wrapper {
          gap: 20em;
        }
      }

      #live {
        a {
          font-size: 100%;
        }
      }

      #videos {
        .video-slider-wrapper {
          margin-top: 4em;
          width: 60em;
        }
      }

      .about-hero {
        background-position: initial;
      }

      .bio-wrapper {
        align-items: flex-start;

        .bio-text {
          width: 50vw;

          p {
            font-size: 1.2rem;
          }
        }
      }
    }

    footer {
      .footer-wrapper {
        .sm-wrapper {
          a {
            i {
              font-size: initial;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $iPadPro12) and (orientation: portrait) {
  html {
    header {
      .header-wrapper {
        gap: 8em;
      }
    }
  }
}

@media screen and (min-width: $largeDesktop) {
  html {
    font-size: 100%;

    header {
      .header-wrapper {
        gap: 20em;

        nav {
          .main-navigation {
            gap: 3em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $biggerScreen) {
  html {
    header {
      .header-wrapper {
        gap: 20em;

        nav {
          .main-navigation {
            gap: 10em;
          }
        }
      }
    }

    main {
      #music {
        padding-bottom: 10em;
        gap: 10em;

        h1 {
          margin-bottom: 10em;
        }

        .music-content-wrapper {
          gap: 30em;
        }
      }

      #videos {
        padding-bottom: 10em;

        h1 {
          margin-bottom: 1em;
        }
      }
    }
  }
}

@media screen and (min-width: $biggerScreen2) {
  html {
    header {
      gap: 4em;

      .logo-wrapper {
        margin-top: 1em;
      }

      .header-wrapper {
        gap: 60em;

        nav {
          .main-navigation {
            gap: 6em;
          }
        }
      }
    }

    main {
      #music {
        h1 {
          margin-bottom: 15em;
        }

        .music-content-wrapper {
          gap: 40em;
        }
      }

      #videos {
        padding-bottom: 20em;

        h1 {
          margin-bottom: 5em;
        }
      }
    }
  }
}
