/* MOBILE */
@media screen and (min-width: 320px) {
  html {
    font-size: 60%;

    @import 'mobile-menu';

    main {
      .new-ep {
        h1 {
          padding: 0 2em;
        }

        .music-icons-wrapper {
          gap: 2em;
        }
      }

      #music {
        h1 {
          margin-bottom: 4em;
        }
        .music-content-wrapper {
          gap: 10em;

          .slider-wrapper {
            .music-slider-container {
              .slide {
                img {
                  width: 80%;
                }
              }
            }
          }
        }
      }

      #live {
        a {
          font-size: 60%;
        }
      }

      #videos {
        .video-slider-wrapper {
          margin-top: -15em;
          width: 30em;
        }
      }

      #connect {
        padding-bottom: 10em;

        .contact-wrapper {
          form {
            min-width: 80%;
          }
        }
      }

      .bio-wrapper {
        .bio-text {
          p {
            font-size: 60%;
          }
        }
      }

      .about-hero {
        background-position: center center;
      }
    }

    footer {
      .footer-wrapper {
        .sm-wrapper {
          a {
            i {
              font-size: 50%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 374px) {
  html {
    font-size: 60%;
    header {
      nav {
        .main-navigation {
          li {
            margin: 0.2em;

            a {
              font-size: 2rem;
            }
          }
        }
      }

      .sm-wrapper {
        gap: 2em;
      }
    }

    main {
      #music {
        h1 {
          margin-bottom: 5em;
        }
      }
    }
  }
}

@media screen and (min-width: 413px) {
  html {
    font-size: 65%;

    header {
      nav {
        .main-navigation {
          li {
            a {
              font-size: 2.2rem;
            }
          }
        }
      }
    }
  }
}

/* MOBILE LANDSCAPE */
@media screen and (min-width: 480px) {
  html {
    font-size: 60%;

    header {
      .sm-wrapper {
        gap: 3em;

        a {
          i {
            font-size: 70%;
          }
        }
      }
    }

    main {
      #music {
        h1 {
          margin-bottom: 6em;
        }
        .music-content-wrapper {
          gap: 12em;
        }
      }

      #videos {
        .video-slider-wrapper {
          width: 40em;
        }
      }
    }
  }
}

@media screen and (min-width: 599px) {
  html {
    main {
      // #music {
      //   .music-content-wrapper {
      //     gap: 15em;

      //     .slider-wrapper {
      //       gap: 12em;
      //     }
      //   }
      // }
      #videos {
        .video-slider-wrapper {
          width: 60em;
        }
      }
    }
  }
}

/* TABLET */
@media screen and (min-width: 768px) and (orientation: portrait) {
  html {
    font-size: 80%;

    header {
      nav {
        .main-navigation {
          li {
            margin: 0.4em;
            a {
              font-size: 3rem;
            }
          }
        }
      }

      .sm-wrapper {
        gap: 4.5em;

        a {
          i {
            font-size: 80%;
          }
        }
      }
    }

    main {
      #music {
        .music-content-wrapper {
          gap: 20em;
        }
      }

      #videos {
        .video-slider-wrapper {
          margin-top: 0;
          width: 50em;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  html {
    main {
      #music {
        h1 {
          margin-bottom: 8em;
        }
        .music-content-wrapper {
          gap: 25em;
        }
      }
    }
  }
}

/* IPAD PRO 10.5" */
@media screen and (min-width: 834px) and (orientation: portrait) {
  html {
    font-size: 85%;
    header {
      nav {
        .main-navigation {
          padding: 3em;
        }
      }
    }
  }
}

/* DESKTOP & TABLET LANDSCAPE */
@media screen and (min-width: 992px) {
  html {
    font-size: 80%;

    header {
      background-color: initial;

      .header-wrapper {
        gap: 15em;
        justify-content: space-between;

        .logo-wrapper {
          display: block;
          margin-left: 2em;
          margin-top: 0.5em;
          width: 20em;

          img {
            width: 100%;
          }
        }

        .hamburger {
          display: none;
        }

        nav {
          position: initial;
          background-color: initial;
          transform: translateX(0);
          opacity: 1;

          .main-navigation {
            gap: 2em;
            padding: 0;
            flex-direction: row;

            li {
              padding: 0;

              a {
                font-size: 1.3rem;
                text-shadow: 1px 1px 1px #282828;
              }
            }
          }
        }
      }

      .sm-wrapper {
        gap: 3em;

        a {
          i {
            font-size: 1rem;
          }
        }
      }
    }

    main {
      .new-ep {
        .music-icons-wrapper {
          gap: 4em;
        }
      }

      #music {
        h1 {
          margin-bottom: 8em;
        }

        .music-content-wrapper {
          gap: 20em;
        }
      }

      #live {
        a {
          font-size: 100%;
        }
      }

      #videos {
        .video-slider-wrapper {
          margin-top: 4em;

          width: 60em;
        }
      }

      .about-hero {
        background-position: initial;
      }
    }

    footer {
      .footer-wrapper {
        .sm-wrapper {
          a {
            i {
              font-size: initial;
            }
          }
        }
      }
    }
  }
}

/* IPAD PRO 12.5" */
@media screen and (min-width: 1024px) and (orientation: portrait) {
  html {
    header {
      .header-wrapper {
        gap: 12em;
      }
    }
  }
}

/* LARGE SCREENS */
@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;

    main {
      #music {
        h1 {
          margin-bottom: 8em;
        }

        .music-content-wrapper {
          gap: 20em;
        }
      }

      #videos {
        .video-slider-wrapper {
          width: 70em;
        }
      }
    }
  }
}

/* BIGGER SCREENS */
@media screen and (min-width: 1400px) {
  html {
    font-size: 100%;

    header {
      .header-wrapper {
        gap: 20em;

        nav {
          .main-navigation {
            gap: 6em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2074px) {
  html {
    header {
      .header-wrapper {
        gap: 40em;

        nav {
          .main-navigation {
            gap: 6em;
          }
        }
      }
    }

    main {
      #music {
        h1 {
          margin-bottom: 10em;
        }
        .music-content-wrapper {
          gap: 30em;
        }
      }
    }
  }
}

@media screen and (min-width: 2559px) {
  html {
    header {
      gap: 4em;

      .header-wrapper {
        gap: 60em;

        nav {
          .main-navigation {
            gap: 6em;
          }
        }
      }
    }

    main {
      #music {
        h1 {
          margin-bottom: 12em;
        }

        .music-content-wrapper {
          gap: 40em;
        }
      }

      #videos {
        .video-slider-wrapper {
          width: 100em;
        }
      }
    }
  }
}
