@import 'mixins';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Belleza', sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;

  &.no-scroll {
    overflow: hidden;
    height: 100vh;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    @import './components/header';

    main {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      min-height: calc(100vh - 5em);
      background-color: $primary-color;

      @import './components/hero';
      @import './components/new-ep';
      @import './components/music';
      @import './components/live';
      @import './components/visuals';
      @import './components/connect';
      @import './components/about';
      @import './components/404';
    }

    @import './components/footer';
  }
}

@import './media-queries';
