@import url("https://fonts.googleapis.com/css2?family=Belleza&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap");
* {
  box-sizing: border-box;
  font-family: "Belleza", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html.no-scroll {
  overflow: hidden;
  height: 100vh;
  margin: 0;
}
html body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html body header {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 20;
  padding-bottom: 1em;
  background-color: transparent;
  transition: background-color 0.9s ease;
  transition: top 0.9s ease;
  /* Scroll down fade in */
  /* Scroll down hide */
}
html body header.fade {
  background-color: rgba(230, 204, 178, 0.98);
}
html body header.hide {
  top: -200px;
}
html body header .header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
html body header .header-wrapper a {
  text-decoration: none;
}
html body header .header-wrapper nav .main-navigation {
  display: flex;
}
html body header .header-wrapper nav .main-navigation li {
  list-style-type: none;
  font-weight: bold;
}
html body header .header-wrapper nav .main-navigation li a {
  text-decoration: none;
  transition: color 0.2s ease;
  color: #ffffff;
}
html body header .header-wrapper nav .main-navigation li a.active {
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 3px;
}
html body header .header-wrapper nav .main-navigation li a:hover {
  color: lightgray;
}
html body header .sm-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
html body header .sm-wrapper i {
  color: white;
  transition: transform 0.2s ease-in-out;
  text-shadow: 0.8px 0.8px 0.8px #282828;
}
html body header .sm-wrapper i:hover {
  transform: scale(1.2);
  cursor: pointer;
}
html body main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: calc(100vh - 5em);
  background-color: rgb(230, 204, 178);
  /* PHOTOS */
}
html body main .hero {
  background-image: url("../images/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
html body main .hero .quote {
  margin-right: 1.5em;
  width: 35%;
  text-shadow: 0.5px 0.5px 0.5px #000000;
  transform: translateY(20px);
  transition: transform 0.9s ease;
}
html body main .hero .quote i {
  color: #ffffff;
}
html body main .hero .quote.fade-in {
  transform: translateY(0);
}
html body main .new-ep {
  background-image: url("../images/5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
html body main .new-ep h2 {
  margin-top: 2em;
  text-align: center;
  font-size: 4.5rem;
  font-family: "Noto Serif JP", serif;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  transform: translateY(50px);
  transition: transform 0.9s ease;
}
html body main .new-ep h2.fade-in {
  transform: translateY(0);
}
html body main .new-ep h3 {
  text-align: center;
  text-shadow: 1px 1px 2px #000000;
  color: #ffffff;
  font-size: 2.5rem;
  transform: translateY(50px);
  transition: transform 0.9s ease;
}
html body main .new-ep h3.fade-in {
  transform: translateY(0);
}
html body main .new-ep .ep-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20em;
  transform: translateY(50px);
  transition: transform 0.9s ease;
}
html body main .new-ep .ep-container .music-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}
html body main .new-ep .ep-container .music-icons-wrapper i {
  font-size: 2rem;
  color: #b2e6b2;
  text-shadow: 0.8px 0.8px 0.8px #282828;
  transition: transform 0.2s ease-in-out;
}
html body main .new-ep .ep-container .music-icons-wrapper i:hover {
  transform: scale(1.2);
  cursor: pointer;
}
html body main .new-ep .ep-container.fade-in {
  transform: translateY(0);
}
html body main #music {
  background: rgb(230, 204, 178);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body main #music h2 {
  color: #555555;
  margin-top: 3em;
  font-size: 3rem;
  transform: translateY(50px);
  transition: transform 0.9s ease;
}
html body main #music h2.fade-in {
  transform: translateY(0);
}
html body main #music .music-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 5em;
  transform: translateY(50px);
  transition: transform 0.9s ease;
}
html body main #music .music-content-wrapper.fade-in {
  transform: translateY(0);
}
html body main #music .music-content-wrapper .slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
html body main #music .music-content-wrapper .slider-wrapper .prev-btn {
  color: black;
  margin-right: auto;
  opacity: 0.5;
  pointer-events: none;
  z-index: 16;
  position: absolute;
  left: 0;
  border: none;
  background-color: transparent;
  transition: color 0.4s ease;
}
html body main #music .music-content-wrapper .slider-wrapper .prev-btn:disabled {
  color: #282828;
}
html body main #music .music-content-wrapper .slider-wrapper .prev-btn .fa-angle-left {
  font-size: 5rem;
}
html body main #music .music-content-wrapper .slider-wrapper .prev-btn:hover {
  color: gray;
  cursor: pointer;
}
html body main #music .music-content-wrapper .next-btn {
  color: black;
  opacity: 1;
  border: none;
  z-index: 16;
  position: absolute;
  right: 0;
  background-color: transparent;
  transition: color 0.4s ease;
}
html body main #music .music-content-wrapper .next-btn:disabled {
  color: #282828;
}
html body main #music .music-content-wrapper .next-btn .fa-angle-right {
  font-size: 5rem;
}
html body main #music .music-content-wrapper .next-btn:hover {
  color: gray;
  cursor: pointer;
}
html body main #music .music-content-wrapper .music-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  position: relative;
}
html body main #music .music-content-wrapper .music-slider-container .slide {
  opacity: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in;
  z-index: 15;
}
html body main #music .music-content-wrapper .music-slider-container .slide img {
  border-radius: 2px;
  box-shadow: 0 0 6px #282828;
}
html body main #music .music-content-wrapper .music-slider-container .slide[data-active] {
  opacity: 1;
  z-index: 10;
}
html body main #music .music-content-wrapper .ep-data {
  display: flex;
  flex-direction: column;
}
html body main #music .music-content-wrapper .ep-data h3 {
  color: #282828;
  font-size: 1.8rem;
  text-align: center;
}
html body main #music .music-content-wrapper .ep-data .spotify-btn {
  display: flex;
  background-color: #b2e6b2;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0 3px 2px -2px #282828;
  border-radius: 50px;
  padding: 1em;
  width: 15em;
  transition: background-color 0.4s ease-in-out;
}
html body main #music .music-content-wrapper .ep-data .spotify-btn .fa-spotify {
  color: #282828;
}
html body main #music .music-content-wrapper .ep-data .spotify-btn span {
  color: #282828;
}
html body main #music .music-content-wrapper .ep-data .spotify-btn:hover {
  background-color: #3ec13e;
}
html body main #music .spotify-wrapper {
  width: 70vw;
  margin-bottom: 5em;
}
html body main #music .spotify-wrapper iframe {
  width: 100%;
  box-shadow: 0 0 8px #282828;
}
html body main #live {
  background-image: url(../images/live-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
html body main #live h2 {
  text-align: center;
  margin-bottom: 3em;
  margin-top: 3em;
  font-size: 3rem;
  color: #ffffff;
  transform: translateY(50px);
  transition: transform 0.9s ease;
}
html body main #live h2.fade-in {
  transform: translateY(0);
}
html body main #live .live-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 4em;
  transform: translateY(50px);
  transition: transform 0.9s ease;
}
html body main #live .live-wrapper.fade-in {
  transform: translateY(0);
}
html body main #live .live-wrapper .dates-wrapper {
  padding: 2em;
  margin-bottom: 5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
html body main #live .live-wrapper .dates-wrapper .bit-widget-container .bit-upcoming-events {
  margin-top: 3em;
}
html body main #live .live-wrapper .dates-wrapper .bit-widget-container .bit-track-button {
  border-radius: 2px;
}
html body main #videos {
  background: rgb(230, 204, 178);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
html body main #videos h2 {
  margin-top: 3em;
  font-size: 3rem;
  color: #555555;
  transform: translateY(50px);
  transition: transform 0.9s ease;
}
html body main #videos h2.fade-in {
  transform: translateY(0);
}
html body main #videos .video-modal {
  border-radius: 2px;
  width: 80vw;
  height: 30em;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in;
}
html body main #videos .video-modal.open {
  opacity: 1;
  visibility: visible;
  z-index: 20;
}
html body main #videos .video-modal .modal-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body main #videos .video-modal .modal-wrapper i {
  position: absolute;
  right: -10px;
  top: 20px;
  font-size: 1.5rem;
  border: 1.5px solid #282828;
  padding: 0.5em;
  border-radius: 2px;
  color: #282828;
  opacity: 0.85;
  transition: opacity 0.3s ease;
}
html body main #videos .video-modal .modal-wrapper i:hover {
  cursor: pointer;
  opacity: 1;
}
html body main #videos .video-modal .modal-wrapper iframe {
  width: 85%;
  height: 85%;
}
html body main #videos .video-slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40em;
  transform: translateY(50px);
  transition: transform 0.9s ease;
}
html body main #videos .video-slider-wrapper.fade-in {
  transform: translateY(0);
}
html body main #videos .video-slider-wrapper .prev {
  color: black;
  position: absolute;
  top: 45%;
  left: -5px;
  border: none;
  background-color: transparent;
  transition: color 0.4s ease;
}
html body main #videos .video-slider-wrapper .prev .fa-angle-left {
  font-size: 5rem;
}
html body main #videos .video-slider-wrapper .prev:disabled {
  color: #282828;
}
html body main #videos .video-slider-wrapper .prev:hover {
  cursor: pointer;
  color: gray;
}
html body main #videos .video-slider-wrapper .prev.hide {
  display: none;
}
html body main #videos .video-slider-wrapper .next {
  color: black;
  position: absolute;
  top: 45%;
  right: -5px;
  border: none;
  background-color: transparent;
  transition: color 0.4s ease;
}
html body main #videos .video-slider-wrapper .next .fa-angle-right {
  font-size: 5rem;
}
html body main #videos .video-slider-wrapper .next:disabled {
  color: #282828;
}
html body main #videos .video-slider-wrapper .next:hover {
  cursor: pointer;
  color: gray;
}
html body main #videos .video-slider-wrapper .next.hide {
  display: none;
}
html body main #videos .video-slider-wrapper .slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
html body main #videos .video-slider-wrapper .slider-container .video-slide {
  opacity: 0;
  position: absolute;
  display: flex;
  align-items: center;
  height: 75%;
  width: 75%;
  transition: opacity 0.5s ease-in;
}
html body main #videos .video-slider-wrapper .slider-container .video-slide .video-slide-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body main #videos .video-slider-wrapper .slider-container .video-slide .video-slide-wrapper img {
  width: 100%;
  height: 100%;
}
html body main #videos .video-slider-wrapper .slider-container .video-slide .video-slide-wrapper i {
  position: absolute;
  font-size: 8rem;
  color: #b2e6b2;
  transition: color 0.5s ease-in-out;
}
html body main #videos .video-slider-wrapper .slider-container .video-slide .video-slide-wrapper i:hover {
  cursor: pointer;
  color: #3ec13e;
}
html body main #videos .video-slider-wrapper .slider-container .video-slide[data-active] {
  opacity: 1;
  z-index: 14;
}
html body main #videos .video-slider-wrapper:hover .prev,
html body main #videos .video-slider-wrapper:hover .next {
  opacity: 1;
}
html body main #connect {
  background-image: url("../images/connect-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8em;
}
html body main #connect h2 {
  color: #555555;
  text-align: center;
  margin-top: 3em;
  font-size: 3rem;
  transform: translateY(50px);
  transition: transform 0.9s ease;
}
html body main #connect h2.fade-in {
  transform: translateY(0);
}
html body main #connect .wpforms-container form {
  background: rgba(237, 224, 212, 0.7);
  gap: 1.5em;
  width: 60vw;
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 5px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
html body main #connect .wpforms-container form .wpforms-field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  width: 100%;
}
html body main #connect .wpforms-container form .wpforms-field-container input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid;
  border-radius: 0;
  background-color: transparent;
}
html body main #connect .wpforms-container form .wpforms-submit-container button {
  border-radius: 5px;
  border: none;
  padding: 1em;
  width: 15em;
  box-shadow: 0 0 5px gray;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.4s ease;
}
html body main #connect .wpforms-container form .wpforms-submit-container button:hover {
  background-color: #b2e6b2;
}
html body main .about-hero {
  background-image: url(../images/15.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body main .about-hero h1 {
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 0.8px 0.8px 0.8px #282828;
  transform: translateY(20px);
  transition: transform 0.9s ease;
}
html body main .about-hero h1.fade-in {
  transform: translateY(0);
}
html body main .about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html body main .about-wrapper .bio-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10em 5em;
  background-image: url("../images/4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html body main .about-wrapper .bio-wrapper .bio-text {
  background: rgba(237, 224, 212, 0.7);
  border-radius: 2px;
  box-shadow: 0 0 6px gray;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transform: translateY(50px);
  transition: transform 0.9s ease;
}
html body main .about-wrapper .bio-wrapper .bio-text.fade-in {
  transform: translateY(0);
}
html body main .about-wrapper .bio-wrapper .bio-text p {
  text-align: center;
  color: #282828;
  line-height: 2;
  padding: 1em;
}
html body main .photos {
  background: rgb(230, 204, 178);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 10em;
}
html body main .photos div {
  width: 25em;
  transform: translateY(50px);
  transition: transform 0.9s ease;
}
html body main .photos div.fade-in {
  transform: translateY(0);
}
html body main .photos div img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
html body main .content-area {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(230, 204, 178);
}
html body main .content-area #content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  margin-top: 15em;
  margin-bottom: 20em;
  padding: 0 2em;
}
html body main .content-area #content .page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body main .content-area #content .page-content h1 {
  font-size: 3rem;
  text-align: center;
  color: #282828;
}
html body main .content-area #content .page-content a {
  color: #282828;
}
html body main .content-area #content img {
  width: 55%;
}
html body footer {
  background: rgb(230, 204, 178);
  font-weight: bold;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.8em;
  width: 100%;
}
html body footer .footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
html body footer .footer-wrapper .sm-wrapper {
  display: flex;
  gap: 2em;
}
html body footer .footer-wrapper .sm-wrapper i {
  color: #ffffff;
  color: #555555;
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
}
html body footer .footer-wrapper .sm-wrapper i:hover {
  transform: scale(1.2);
  cursor: pointer;
}
html body footer .footer-wrapper span {
  color: #555555;
}
html body footer .footer-wrapper .footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0.5em;
  margin-top: -1em;
}
html body footer .footer-wrapper .footer-menu span a {
  text-decoration: none;
  color: #555555;
  transition: -webkit-text-decoration 0.2s ease;
  transition: text-decoration 0.2s ease;
  transition: text-decoration 0.2s ease, -webkit-text-decoration 0.2s ease;
}
html body footer .footer-wrapper .footer-menu span a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 60%;
  }
  html header {
    background-color: #e6ccb2;
    background: rgb(230, 204, 178);
    justify-content: space-between;
    min-height: 6em;
  }
  html header .logo-wrapper {
    display: none;
  }
  html header .header-wrapper .hamburger {
    position: absolute;
    z-index: 35;
    top: 5px;
    left: 5px;
    display: flex;
    width: 50px;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: rotate 0.2s ease-in;
  }
  html header .header-wrapper .hamburger div {
    position: relative;
    width: 70%;
    height: 3px;
    border-radius: 5px;
    background-color: whitesmoke;
    transition: background-color 0.4s ease-in-out;
  }
  html header .header-wrapper .hamburger div:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: whitesmoke;
    transform: translateY(-12px);
    transition: transform 0.4s ease, rotate 0.5s ease-in-out;
  }
  html header .header-wrapper .hamburger div:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: whitesmoke;
    transform: translateY(12px);
    transition: transform 0.4s ease, rotate 0.5s ease-in-out;
  }
  html header .header-wrapper .hamburger.clicked {
    rotate: 180deg;
  }
  html header .header-wrapper .hamburger.clicked div {
    background-color: transparent;
  }
  html header .header-wrapper .hamburger.clicked div:before {
    transform: translateX(0);
    rotate: 45deg;
  }
  html header .header-wrapper .hamburger.clicked div:after {
    transform: translateX(0);
    rotate: -45deg;
  }
  html header .header-wrapper nav {
    background-color: rgb(230, 204, 178);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    width: 100%;
    min-height: 100%;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }
  html header .header-wrapper nav .main-navigation {
    padding: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html header .header-wrapper nav .main-navigation li {
    font-size: 1.8rem;
    margin: 1.2em;
  }
  html header .header-wrapper nav .main-navigation li a {
    text-shadow: none;
  }
  html header .header-wrapper nav.open {
    z-index: 30;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    75% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    75% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  html header .header-wrapper nav.open .main-navigation {
    -webkit-animation: fadeIn 0.8s ease-in-out forwards;
            animation: fadeIn 0.8s ease-in-out forwards;
  }
  html header .sm-wrapper {
    margin-left: 4em;
    gap: 3.5em;
  }
  html header .sm-wrapper a i {
    color: whitesmoke;
    font-size: 1.2rem;
  }
  html main .new-ep h2 {
    padding: 0 2em;
  }
  html main .new-ep .music-icons-wrapper {
    gap: 3.5em;
  }
  html main #music {
    padding-bottom: 5em;
    gap: 5em;
  }
  html main #music h2 {
    margin-bottom: 4em;
  }
  html main #music .music-content-wrapper {
    gap: 10em;
  }
  html main #music .music-content-wrapper .slider-wrapper .music-slider-container .slide img {
    width: 80%;
  }
  html main #live a {
    font-size: 100%;
  }
  html main #videos .video-slider-wrapper {
    margin-top: -5em;
    width: 30em;
  }
  html main #connect {
    padding-bottom: 10em;
  }
  html main #connect .contact-wrapper form {
    min-width: 80%;
  }
  html main .bio-wrapper {
    align-items: center;
  }
  html main .bio-wrapper .bio-text {
    width: 85vw;
  }
  html main .bio-wrapper .bio-text p {
    font-size: 1.8rem;
  }
  html main .about-hero {
    background-position: center center;
  }
  html footer .footer-wrapper .sm-wrapper a i {
    font-size: 50%;
  }
}
@media screen and (min-width: 374px) {
  html {
    font-size: 60%;
  }
  html header .header-wrapper nav .main-navigation li {
    margin: 1.5em;
  }
  html header .header-wrapper nav .main-navigation li a {
    font-size: 2.2rem;
  }
  html main #music h2 {
    margin-bottom: 5em;
  }
  html main .bio-wrapper .bio-text p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 413px) {
  html {
    font-size: 75%;
  }
  html header .header-wrapper nav .main-navigation li {
    margin: 1.2em;
  }
  html header .header-wrapper nav .main-navigation li a {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 70%;
  }
  html header .sm-wrapper {
    gap: 6em;
  }
  html header .sm-wrapper a i {
    font-size: 100%;
  }
  html main #music h2 {
    margin-bottom: 6em;
  }
  html main #music .music-content-wrapper {
    gap: 12em;
  }
  html main #videos {
    padding-bottom: 8em;
  }
  html main #videos .video-slider-wrapper {
    width: 40em;
    margin: 1em 0;
  }
}
@media screen and (min-width: 599px) {
  html main #videos .video-slider-wrapper {
    width: 60em;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  html {
    font-size: 90%;
  }
  html header {
    background-color: red;
  }
  html header .header-wrapper nav .main-navigation {
    padding: 5em;
  }
  html header .header-wrapper nav .main-navigation li {
    margin: 1.2em;
  }
  html header .header-wrapper .sm-wrapper {
    gap: 6em;
  }
  html header .header-wrapper .sm-wrapper a {
    font-size: 3rem;
  }
  html main #music .music-content-wrapper {
    gap: 12em;
  }
  html main #videos .video-slider-wrapper {
    margin-bottom: 4em;
    width: 50em;
  }
}
@media screen and (min-width: 800px) {
  html header .sm-wrapper {
    gap: 6em;
  }
  html header .sm-wrapper a i {
    font-size: 1.5rem;
  }
  html main #music h2 {
    margin-bottom: 8em;
  }
  html main #music .music-content-wrapper {
    gap: 25em;
  }
}
@media screen and (min-width: 833px) and (orientation: portrait) {
  html {
    font-size: 85%;
  }
  html header .header-wrapper nav .main-navigation {
    padding: 6em;
  }
  html header .header-wrapper nav .main-navigation li {
    margin: 1.5em;
  }
  html header .header-wrapper nav .main-navigation li a {
    font-size: 3rem;
  }
  html main #music .music-content-wrapper {
    gap: 14em;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 80%;
  }
  html header {
    background-color: initial;
    gap: 1em;
  }
  html header .header-wrapper {
    gap: 12em;
    justify-content: space-between;
  }
  html header .header-wrapper .logo-wrapper {
    display: block;
    position: relative;
    top: 15px;
    left: 25px;
  }
  html header .header-wrapper .logo-wrapper img {
    width: 80%;
  }
  html header .header-wrapper .hamburger {
    display: none;
  }
  html header .header-wrapper nav {
    position: initial;
    background-color: initial;
    transform: translateX(0);
    opacity: 1;
    padding-top: 0.5em;
  }
  html header .header-wrapper nav .main-navigation {
    gap: 3em;
    padding: 0;
    flex-direction: row;
  }
  html header .header-wrapper nav .main-navigation li {
    margin: 0;
  }
  html header .header-wrapper nav .main-navigation li a {
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px #282828;
  }
  html header .sm-wrapper {
    gap: 5em;
  }
  html header .sm-wrapper a i {
    font-size: 1rem;
  }
  html main .new-ep .music-icons-wrapper {
    gap: 4em;
  }
  html main #music h2 {
    margin-bottom: 8em;
  }
  html main #music .music-content-wrapper {
    gap: 20em;
  }
  html main #live a {
    font-size: 100%;
  }
  html main #videos .video-slider-wrapper {
    margin-top: 4em;
    width: 60em;
  }
  html main .about-hero {
    background-position: initial;
  }
  html main .bio-wrapper {
    align-items: flex-start;
  }
  html main .bio-wrapper .bio-text {
    width: 50vw;
  }
  html main .bio-wrapper .bio-text p {
    font-size: 1.2rem;
  }
  html footer .footer-wrapper .sm-wrapper a i {
    font-size: initial;
  }
}
@media screen and (min-width: 1023px) and (orientation: portrait) {
  html header .header-wrapper {
    gap: 8em;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
  html header .header-wrapper {
    gap: 20em;
  }
  html header .header-wrapper .logo-wrapper {
    top: 22px;
  }
  html header .header-wrapper nav .main-navigation {
    gap: 3em;
  }
}
@media screen and (min-width: 2073px) {
  html header .header-wrapper {
    gap: 20em;
  }
  html header .header-wrapper .logo-wrapper {
    top: 25px;
  }
  html header .header-wrapper nav .main-navigation {
    gap: 10em;
  }
  html main #music {
    padding-bottom: 10em;
    gap: 10em;
  }
  html main #music h2 {
    margin-bottom: 10em;
  }
  html main #music .music-content-wrapper {
    gap: 30em;
  }
  html main #videos {
    padding-bottom: 10em;
  }
  html main #videos h2 {
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 2559px) {
  html header {
    gap: 4em;
  }
  html header .logo-wrapper {
    margin-top: 1em;
  }
  html header .header-wrapper {
    gap: 60em;
  }
  html header .header-wrapper nav .main-navigation {
    gap: 6em;
  }
  html main #music h2 {
    margin-bottom: 15em;
  }
  html main #music .music-content-wrapper {
    gap: 40em;
  }
  html main #videos {
    padding-bottom: 20em;
  }
  html main #videos h2 {
    margin-bottom: 5em;
  }
}/*# sourceMappingURL=style.css.map */