footer {
  background: $primary-color;
  font-weight: bold;
  height: fit-content;
  padding: 1.8em;
  width: 100%;

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    .sm-wrapper {
      display: flex;
      gap: 2em;

      i {
        color: $font-color;
        font-size: 1rem;
        transition: transform 0.2s ease-in-out;

        &:hover {
          @include smIconsHover();
        }
      }
    }

    span {
      color: $font-color;
    }

    .footer-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      gap: 0.5em;
      margin-top: -1em;

      span {
        a {
          text-decoration: none;
          color: $font-color;
          opacity: 0.8;
          transition: opacity 0.4s ease;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .email-link {
      display: flex;
      gap: 0.4em;
      justify-content: center;
      align-items: center;

      a {
        text-decoration-color: transparent;
        color: $font-color;
        transition: text-decoration-color 0.4s ease;

        &:hover {
          text-decoration-color: $font-color;
        }
      }
    }
  }
}
