.hero {
  background-image: url('../images/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .quote {
    i {
      color: $font-color;
    }

    padding-right: 1em;
    width: 35%;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    transform: translateY(20px);
    transition: transform 0.9s ease;

    &.fade-in {
      transform: translateY(0);
    }
  }
}
