#live {
  background-image: url(../images/live-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  h2 {
    text-align: center;
    margin-bottom: 3em;
    margin-top: 3em;
    font-size: 3rem;
    color: $font-color;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.9s ease, opacity 0.9s ease;

    &.slide-up {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .live-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 4em;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.9s ease, opacity 0.9s ease;

    &.slide-up {
      transform: translateY(0);
      opacity: 1;
    }

    .dates-wrapper {
      padding: 2em;
      margin-bottom: 5em;
      width: fit-content;

      .bit-widget-container {
        .bit-upcoming-events {
          margin-top: 3em;
        }

        .bit-track-button {
          border-radius: 2px;
        }
      }
    }
  }
}
